[submodule "lib/vk.c3l"]
	path = lib/vk.c3l
	url = https://github.com/fesoliveira014/vk.c3l
[submodule "lib/vma.c3l"]
	path = lib/vma.c3l
	url = https://github.com/fesoliveira014/vma.c3l
[submodule "lib/spvreflect.c3l"]
	path = lib/spvreflect.c3l
	url = https://github.com/fesoliveira014/spvreflect.c3l
[submodule "lib/sdl3.c3l"]
	path = lib/sdl3.c3l
	url = https://github.com/fesoliveira014/sdl3.c3l
